#wrapper{
    min-height: 768px;
}
.headerbar{
    min-height: 6em;
    background-color:#74bbff;
    border-bottom-right-radius: 3em;
    box-shadow: 0px 5px 5px #888888;
    padding: 1em;
}
#car{
    margin-top: 25px;
    background: url(/src/assets/images/thecar.gif) center no-repeat;
    background-size: contain;
    height:90%;
    width: 6em;
    animation: moved 4s ease-out forwards;
    
}
@keyframes moved{
    0%{
        transform: translateX(0) scale(1);
        opacity: 0.8;
    }
    50% {
        transform: translateX(40vw) scale(1.1);
        opacity: 1;
    }
    75%{
        transform: translateX(75vw) scale(1);
        opacity:0.8;
    }
    100%{
       
        opacity: 1;
    }}
    #main{
        background: #74bbff;
        min-height: 400px;
        padding: 1em;
        border-radius: 1em;
       
    }
    /* #footer{
        position: fixed;;
        bottom: 2px;
    } */
    